// *** STICKY FOOTER: START ***
html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

#main-content {
    display: flex;
    flex-direction: column;
    transform: translateX(0px);
    transition: transform 0.2s ease-in-out;
    will-change: transform;
    height: 100%;

    section {
        width: 90%;
        margin: auto;
    }
}

div.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    height: 150px;
    background-color: #191f22;
    color: #fff;
}

// *** STICKY FOOTER: END ***