<%- include('../partials/base.ejs') %>

<div id="main-content">
  <div class="content">
    <%- include('../partials/header.ejs') %>

    <main class="page">
      <h1>I'm ROOOOOOT!!!</h1>
    </main>
  </div>
  <%- include('../partials/footer.ejs') %>
</div>
</div>