<%- include('../partials/base.ejs') %>

<div id="main-content">
  <div class="content">
    <%- include('../partials/header.ejs') %>

    <main class="page">

        <form  method="POST" action="/cars">
            <input type="text" name="name" required>
            <input type="text" name="imageUrl" required>
            <input type="text" name="description" required>
            <input type="submit" value="Создать">
        </form>
 
    </main>
  </div>
  <%- include('../partials/footer.ejs') %>
</div>
</div>